<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.website.board.mapper.BoardMapper">
    <resultMap id="boardResult" type="BoardDTO">
        <result column="b_num" property="boardNumber"></result>
        <result column="b_name" property="boardName"></result>
        <result column="b_title" property="boardTitle"></result>
        <result column="b_content" property="boardContent"></result>
        <result column="b_pwd" property="boardPasswd"></result>
        <result column="b_readcnt" property="boardReadCnt"></result>
        <result column="b_date" property="boardDate"></result>
    </resultMap>

    <select id="boardList" resultMap="boardResult">
        SELECT b_num, b_name, b_title, b_content, b_pwd, b_readCnt, b_date
        FROM spring_board
        ORDER BY b_num DESC
    </select>

    <insert id="boardInsert" parameterType="BoardDTO" useGeneratedKeys="true" keyColumn="b_num" keyProperty="boardNumber">
        INSERT INTO spring_board(b_name, b_title, b_content, b_pwd, b_readCnt)
        VALUES (#{boardName}, #{boardTitle}, #{boardContent}, #{boardPasswd}, #{boardReadCnt})
    </insert>

    <update id="readCntUpdate" parameterType="BoardDTO">
        UPDATE spring_board SET
            b_readCnt = b_readCnt + 1
        WHERE
            b_num = #{boardNumber}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE
        FROM
            spring_board
        WHERE
            b_num = #{boardNumber}
    </delete>

    <select id="boardDetail" resultMap="boardResult">
        SELECT
            b_num, b_name, b_title, b_content, TO_CHAR(b_date, 'YYYY-MM-DD HH24:MI:SS') AS b_date, b_readCnt
        FROM
            spring_board
        WHERE
            b_num = #{boardNumber}
    </select>

    <update id="boardUpdate" parameterType="com.spring.website.board.dto.BoardDTO">
        UPDATE spring_board SET
            b_title = #{boardTitle},
            b_content = #{boardContent},
            b_pwd = #{boardPasswd}
        WHERE
            b_num = #{boardNumber}
    </update>

    <select id="selectBoardList" parameterType="com.spring.website.board.dto.BoardDTO" resultMap="boardResult">
        SELECT
        b_num,
        b_title,
        b_name,
        TO_CHAR(b_date, 'YYYY-MM-DD') AS b_date,
        b_readcnt
        FROM spring_board
        ORDER BY b_num DESC
    </select>

</mapper>